<?php

declare(strict_types=1);

/*
 * This file is part of «Epigraphy of Medieval Rus» database.
 *
 * Copyright (c) National Research University Higher School of Economics
 *
 * «Epigraphy of Medieval Rus» database is free software:
 * you can redistribute it and/or modify it under the terms of the
 * GNU General Public License as published by the Free Software Foundation, version 3.
 *
 * «Epigraphy of Medieval Rus» database is distributed
 * in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
 * the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code. If you have not received
 * a copy of the GNU General Public License along with
 * «Epigraphy of Medieval Rus» database,
 * see <http://www.gnu.org/licenses/>.
 */

return [
    'files_list' => [
        '.phan.dist',
        '.php_cs.dist',
        'config/bootstrap.php',
        'config/bundles.php',
        'config/preload.php',
        'public/index.php',
    ],
    'directory_list' => [
        'bin',
        'src',
        'tests',
        'vendor',
    ],
    'exclude_analysis_directory_list' => [
        'bin/.phpunit/',
        'tests',
        'vendor/',
    ],
    'whitelist_issue_types' => [
        'PhanSyntaxError',
        'PhanAmbiguousTraitAliasSource',
        'PhanClassContainsAbstractMethodInternal',
        'PhanClassContainsAbstractMethod',
        'PhanEmptyFile',
        'PhanParentlessClass',
        'PhanRequiredTraitNotAdded',
        'PhanTraitParentReference',
        'PhanUndeclaredAliasedMethodOfTrait',
        'PhanUndeclaredClass',
        'PhanUndeclaredClassAliasOriginal',
        'PhanUndeclaredClassCatch',
        'PhanUndeclaredClassConstant',
        'PhanUndeclaredClassInstanceof',
        'PhanUndeclaredClassMethod',
        'PhanUndeclaredClassReference',
        'PhanUndeclaredClosureScope',
        'PhanUndeclaredConstant',
        'PhanUndeclaredExtendedClass',
        'PhanUndeclaredFunction',
        'PhanUndeclaredInterface',
//        'PhanUndeclaredMethod', // Phan does not understand the methods of two-interfaces-class
        'PhanUndeclaredProperty',
        'PhanUndeclaredStaticMethod',
        'PhanUndeclaredStaticProperty',
        'PhanUndeclaredTrait',
        'PhanUndeclaredTypeParameter',
        'PhanUndeclaredTypeReturnType',
        'PhanUndeclaredTypeProperty',
        'PhanUndeclaredTypeThrowsType',
        'PhanUndeclaredVariable',
        'PhanUndeclaredVariableDim',
        'PhanUndeclaredClassInCallable',
        'PhanUndeclaredStaticMethodInCallable',
        'PhanUndeclaredFunctionInCallable',
        'PhanUndeclaredMethodInCallable',
        'PhanEmptyFQSENInCallable',
        'PhanEmptyFQSENInClasslike',
        'PhanNonClassMethodCall',
        'PhanTypeArrayOperator',
        'PhanTypeArraySuspicious',
        'PhanTypeArrayUnsetSuspicious',
        'PhanTypeArraySuspiciousNullable',
        'PhanTypeSuspiciousIndirectVariable',
        'PhanTypeComparisonFromArray',
//        'PhanTypeComparisonToArray', // Phan does not understand preg_split return options
        'PhanTypeConversionFromArray',
        'PhanTypeInstantiateAbstract',
        'PhanTypeInstantiateInterface',
        'PhanTypeInvalidClosureScope',
        'PhanTypeInvalidLeftOperand',
        'PhanTypeInvalidRightOperand',
        'PhanTypeInvalidInstanceof',
        'PhanTypeInvalidDimOffset',
        'PhanTypeInvalidDimOffsetArrayDestructuring',
        'PhanTypeInvalidThrowsNonObject',
        'PhanTypeInvalidThrowsNonThrowable',
        'PhanTypeInvalidThrowsIsTrait',
//        'PhanTypeInvalidThrowsIsInterface', // interfaces are thrown intentional
        'PhanTypeMagicVoidWithReturn',
//        'PhanTypeMismatchArgument', // Phan does not work good with type inference
        'PhanTypeMismatchArgumentInternal',
        'PhanPartialTypeMismatchArgument',
        'PhanPartialTypeMismatchArgumentInternal',
        'PhanPossiblyNullTypeArgument',
        'PhanPossiblyNullTypeArgumentInternal',
        'PhanPossiblyFalseTypeArgument',
        'PhanPossiblyFalseTypeArgumentInternal',
        'PhanTypeMismatchDefault',
        'PhanTypeMismatchDimAssignment',
        'PhanTypeMismatchDimEmpty',
        'PhanTypeMismatchDimFetch',
        'PhanTypeMismatchDimFetchNullable',
        'PhanTypeMismatchUnpackKey',
        'PhanTypeMismatchUnpackValue',
        'PhanTypeMismatchArrayDestructuringKey',
        'PhanMismatchVariadicComment',
        'PhanMismatchVariadicParam',
        'PhanTypeMismatchForeach',
        'PhanTypeMismatchProperty',
        'PhanPossiblyNullTypeMismatchProperty',
        'PhanPossiblyFalseTypeMismatchProperty',
        'PhanPartialTypeMismatchProperty',
//        'PhanTypeMismatchReturn', // Phan does not work with chained calls returning '$this'
        'PhanPartialTypeMismatchReturn',
        'PhanPossiblyNullTypeReturn',
        'PhanPossiblyFalseTypeReturn',
//        'PhanTypeMismatchDeclaredReturn', // Phan does not work with collection content type annotations
        'PhanTypeMismatchDeclaredReturnNullable',
//        'PhanTypeMismatchDeclaredParam', // Phan does not work with collection content type annotations
        'PhanTypeMismatchDeclaredParamNullable',
        'PhanTypeMissingReturn',
        'PhanTypeNonVarPassByRef',
        'PhanTypeParentConstructorCalled',
        'PhanTypeSuspiciousEcho',
        'PhanTypeSuspiciousStringExpression',
        'PhanTypeVoidAssignment',
        'PhanTypeInvalidCallableArraySize',
        'PhanTypeInvalidCallableArrayKey',
        'PhanTypeInvalidCallableObjectOfMethod',
        'PhanTypeExpectedObject',
        'PhanTypeExpectedObjectOrClassName',
        'PhanTypeExpectedObjectPropAccess',
        'PhanTypeExpectedObjectPropAccessButGotNull',
        'PhanTypeExpectedObjectStaticPropAccess',
        'PhanTypeMismatchGeneratorYieldValue',
        'PhanTypeMismatchGeneratorYieldKey',
        'PhanTypeInvalidYieldFrom',
        'PhanUnanalyzable',
        'PhanUnanalyzableInheritance',
        'PhanVariableUseClause',
        'PhanStaticCallToNonStatic',
        'PhanContextNotObject',
        'PhanContextNotObjectInCallable',
        'PhanDeprecatedClass',
        'PhanDeprecatedInterface',
        'PhanDeprecatedTrait',
        'PhanDeprecatedFunction',
        'PhanDeprecatedFunctionInternal',
        'PhanDeprecatedProperty',
        'PhanParamReqAfterOpt',
        'PhanParamSpecial1',
        'PhanParamSpecial2',
        'PhanParamSpecial3',
        'PhanParamSpecial4',
        'PhanParamSuspiciousOrder',
        'PhanParamTooFew',
        'PhanParamTooFewInternal',
        'PhanParamTooFewCallable',
        'PhanParamTooMany',
        'PhanParamTooManyInternal',
        'PhanParamTooManyCallable',
        'PhanParamTypeMismatch',
//        'PhanParamSignatureMismatch', // commented out to allow type overloading in repositories
        'PhanParamSignatureMismatchInternal',
        'PhanParamRedefined',
        'PhanParamSignatureRealMismatchReturnType',
        'PhanParamSignatureRealMismatchReturnTypeInternal',
//        'PhanParamSignaturePHPDocMismatchReturnType', // commented out to allow type overloading in repositories
        'PhanParamSignatureRealMismatchTooManyRequiredParameters',
        'PhanParamSignatureRealMismatchTooManyRequiredParametersInternal',
        'PhanParamSignaturePHPDocMismatchTooManyRequiredParameters',
        'PhanParamSignatureRealMismatchTooFewParameters',
        'PhanParamSignatureRealMismatchTooFewParametersInternal',
        'PhanParamSignaturePHPDocMismatchTooFewParameters',
        'PhanParamSignatureRealMismatchHasParamType',
        'PhanParamSignatureRealMismatchHasParamTypeInternal',
//        'PhanParamSignaturePHPDocMismatchHasParamType', // commented out to allow type overloading in repositories
        'PhanParamSignatureRealMismatchHasNoParamType',
        'PhanParamSignatureRealMismatchHasNoParamTypeInternal',
        'PhanParamSignaturePHPDocMismatchHasNoParamType',
        'PhanParamSignatureRealMismatchParamIsReference',
        'PhanParamSignatureRealMismatchParamIsReferenceInternal',
        'PhanParamSignaturePHPDocMismatchParamIsReference',
        'PhanParamSignatureRealMismatchParamIsNotReference',
        'PhanParamSignatureRealMismatchParamIsNotReferenceInternal',
        'PhanParamSignaturePHPDocMismatchParamIsNotReference',
        'PhanParamSignatureRealMismatchParamVariadic',
        'PhanParamSignatureRealMismatchParamVariadicInternal',
        'PhanParamSignaturePHPDocMismatchParamVariadic',
        'PhanParamSignatureRealMismatchParamNotVariadic',
        'PhanParamSignatureRealMismatchParamNotVariadicInternal',
        'PhanParamSignaturePHPDocMismatchParamNotVariadic',
        'PhanParamSignatureRealMismatchParamType',
        'PhanParamSignatureRealMismatchParamTypeInternal',
//        'PhanParamSignaturePHPDocMismatchParamType', // produces false positive error
        'PhanNoopArray',
        'PhanNoopClosure',
        'PhanNoopConstant',
        'PhanNoopProperty',
        'PhanNoopVariable',
        'PhanNoopUnaryOperator',
        'PhanNoopBinaryOperator',
        'PhanNoopStringLiteral',
        'PhanNoopEncapsulatedStringLiteral',
        'PhanNoopNumericLiteral',
        'PhanUnreachableCatch',
        'PhanUnreferencedClass',
        'PhanUnreferencedFunction',
        'PhanUnreferencedPublicMethod',
        'PhanUnreferencedProtectedMethod',
        'PhanUnreferencedPrivateMethod',
        'PhanUnreferencedPublicProperty',
        'PhanUnreferencedProtectedProperty',
        'PhanUnreferencedPrivateProperty',
        'PhanReadOnlyPublicProperty',
        'PhanReadOnlyProtectedProperty',
        'PhanReadOnlyPrivateProperty',
        'PhanWriteOnlyPublicProperty',
        'PhanWriteOnlyProtectedProperty',
        'PhanWriteOnlyPrivateProperty',
        'PhanUnreferencedConstant',
        'PhanUnreferencedPublicClassConstant',
        'PhanUnreferencedProtectedClassConstant',
        'PhanUnreferencedPrivateClassConstant',
        'PhanUnreferencedClosure',
//        'PhanUnreferencedUseNormal', // Phan does not understand type references in annotations
        'PhanUnreferencedUseFunction',
        'PhanUnreferencedUseConstant',
        'PhanRedefineClass',
        'PhanRedefineClassAlias',
        'PhanRedefineClassInternal',
        'PhanRedefineFunction',
        'PhanRedefineFunctionInternal',
        'PhanIncompatibleCompositionProp',
        'PhanIncompatibleCompositionMethod',
        'PhanAccessPropertyPrivate',
        'PhanAccessPropertyProtected',
        'PhanAccessMethodPrivate',
        'PhanAccessMethodPrivateWithCallMagicMethod',
//        'PhanAccessMethodProtected', // Phan does not understand the call of protected method declared in common parent class
        'PhanAccessMethodProtectedWithCallMagicMethod',
        'PhanAccessSignatureMismatch',
        'PhanAccessSignatureMismatchInternal',
        'PhanAccessStaticToNonStatic',
        'PhanAccessNonStaticToStatic',
        'PhanAccessClassConstantPrivate',
        'PhanAccessClassConstantProtected',
        'PhanAccessPropertyStaticAsNonStatic',
        'PhanAccessPropertyNonStaticAsStatic',
        'PhanAccessOwnConstructor',
        'PhanAccessConstantInternal',
        'PhanAccessClassInternal',
        'PhanAccessClassConstantInternal',
        'PhanAccessPropertyInternal',
//        'PhanAccessMethodInternal', // useless
        'PhanAccessWrongInheritanceCategory',
        'PhanAccessWrongInheritanceCategoryInternal',
        'PhanAccessExtendsFinalClass',
        'PhanAccessExtendsFinalClassInternal',
        'PhanAccessOverridesFinalMethod',
        'PhanAccessOverridesFinalMethodInternal',
        'PhanAccessOverridesFinalMethodPHPDoc',
        'PhanCompatibleExpressionPHP7',
        'PhanCompatiblePHP7',
        'PhanCompatibleNullableTypePHP70',
        'PhanCompatibleShortArrayAssignPHP70',
        'PhanCompatibleKeyedArrayAssignPHP70',
        'PhanCompatibleVoidTypePHP70',
        'PhanCompatibleIterableTypePHP70',
        'PhanCompatibleNullableTypePHP71',
        'PhanTemplateTypeConstant',
        'PhanTemplateTypeStaticMethod',
        'PhanTemplateTypeStaticProperty',
        'PhanGenericGlobalVariable',
        'PhanGenericConstructorTypes',
        'PhanInvalidCommentForDeclarationType',
        'PhanMisspelledAnnotation',
        'PhanUnextractableAnnotation',
        'PhanUnextractableAnnotationPart',
        'PhanUnextractableAnnotationSuffix',
        'PhanUnextractableAnnotationElementName',
        'PhanCommentParamWithoutRealParam',
        'PhanCommentParamOnEmptyParamList',
        'PhanCommentOverrideOnNonOverrideMethod',
        'PhanCommentOverrideOnNonOverrideConstant',
        'PhanCommentParamOutOfOrder',
    ],
];
